* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(186, 187, 215);
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}

:root {
  --co-shadow-default: 0 0 5px #ddd;
  --co-primary-color: rgb(75, 64, 147);
}


a.co-link {
  color: #409eff;
  margin: 0 3px;
}
a.co-link:hover {
  text-decoration: underline;
}